<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyGate(Society Management)</display-name>
  <welcome-file-list>
    <welcome-file>Signup.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserController</display-name>
    <servlet-name>ListUserController</servlet-name>
    <servlet-class>com.controller.ListUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserController</servlet-name>
    <url-pattern>/ListUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveUserController</display-name>
    <servlet-name>ApproveUserController</servlet-name>
    <servlet-class>com.controller.ApproveUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveUserController</servlet-name>
    <url-pattern>/ApproveUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserController</display-name>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>com.controller.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/DeleteUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisableUserController</display-name>
    <servlet-name>DisableUserController</servlet-name>
    <servlet-class>com.controller.DisableUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisableUserController</servlet-name>
    <url-pattern>/DisableUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListHouseController</display-name>
    <servlet-name>ListHouseController</servlet-name>
    <servlet-class>com.controller.ListHouseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListHouseController</servlet-name>
    <url-pattern>/ListHouseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHouseController</display-name>
    <servlet-name>AddHouseController</servlet-name>
    <servlet-class>com.controller.AddHouseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHouseController</servlet-name>
    <url-pattern>/AddHouseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoteforSecurityController</display-name>
    <servlet-name>NoteforSecurityController</servlet-name>
    <servlet-class>com.controller.NoteforSecurityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoteforSecurityController</servlet-name>
    <url-pattern>/NoteforSecurityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMemberController</display-name>
    <servlet-name>AddMemberController</servlet-name>
    <servlet-class>com.controller.AddMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMemberController</servlet-name>
    <url-pattern>/AddMemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMembersController</display-name>
    <servlet-name>ListMembersController</servlet-name>
    <servlet-class>com.controller.ListMembersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMembersController</servlet-name>
    <url-pattern>/ListMembersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewNoteSecurityController</display-name>
    <servlet-name>ViewNoteSecurityController</servlet-name>
    <servlet-class>com.controller.ViewNoteSecurityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewNoteSecurityController</servlet-name>
    <url-pattern>/ViewNoteSecurityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListInstructionsController</display-name>
    <servlet-name>ListInstructionsController</servlet-name>
    <servlet-class>com.controller.ListInstructionsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListInstructionsController</servlet-name>
    <url-pattern>/ListInstructionsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllInstructionsController</display-name>
    <servlet-name>ListAllInstructionsController</servlet-name>
    <servlet-class>com.controller.ListAllInstructionsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllInstructionsController</servlet-name>
    <url-pattern>/ListAllInstructionsController</url-pattern>
  </servlet-mapping>
</web-app>